* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1194px;
  margin: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.search-form {
  margin-left: 76px;
  background-color: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 23px;
  color: #57565b;
}
.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 18px;
}
.auth {
  margin-left: auto;
}
.login {
  background-color: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.shopping-cart {
  position: relative;
  width: 49px;
  height: 49px;
  background-color: #f66a15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.shopping-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  background: #ffaf19;
  padding: 5px;
  display: block;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  border-radius: 50%;
}

.slide-text-light {
  background-color: grey;
  color: #fff;
}

.slide {
  position: relative;
  border-radius: 20px;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding: 76px 100px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.slide-content {
  max-width: 400px;
  position: relative;
}

.slide-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 51px;
}

.slide-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}

.slide-summer {
  background-image: url("../img/summer.png");
}

.slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
}

.button-primary {
  background: #f47322;
  border-radius: 25px;
  padding: 12px 50px;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

.button-default {
  background: #ffffff;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #5f5f61;
  padding: 13px 52px;
}

.promo {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  flex-shrink: 0;
  flex-grow: 1;
}
.card-text-light {
  color: #fff;
}
.card::before {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}

.card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}

.card-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  display: block;
  margin-bottom: 8px;
}
.card-delivery {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: block;
  margin-bottom: 25px;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  -o-object-fit: cover;
  object-fit: cover;
}
