* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1194px;
  margin: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.search-form {
  margin-left: 76px;
  background-color: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 23px;
  color: #57565b;
}
.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 18px;
}
.auth {
  margin-left: auto;
}
.login {
  background-color: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.shopping-cart {
  position: relative;
  width: 49px;
  height: 49px;
  background-color: #f66a15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.shopping-cart svg {
  fill: #fff;
}
.shopping-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  background: #ffaf19;
  padding: 5px;
  display: block;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  border-radius: 50%;
}

.slide-text-light {
  background-color: grey;
  color: #fff;
}

.slide {
  position: relative;
  border-radius: 20px;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding: 76px 100px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.slide-content {
  max-width: 400px;
  position: relative;
}

.slide-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 51px;
}

.slide-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}

.slide-summer {
  background-image: url("../img/summer.png");
}

.slide-autumn {
  background-image: url("../img/autumn.png");
}

.slide-vitamin {
  background-image: url("../img/vitamin.png");
}

.slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
}

.slider-buttons {
  position: absolute;
  bottom: 40px;
  right: 46px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}
.slider-button {
  cursor: pointer;
}
.button-primary {
  background: #f47322;
  border-radius: 25px;
  padding: 12px 50px;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

.button-default {
  background: #ffffff;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #5f5f61;
  padding: 13px 52px;
}

.promo {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-basis: 50%;
  /* flex-shrink: 0;
  flex-grow: 1; */
}
.card-text-light {
  color: #fff;
}
.card::before {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}

.card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}

.card-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  display: block;
  margin-bottom: 8px;
}
.card-delivery {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: block;
  margin-bottom: 25px;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  -o-object-fit: cover;
  object-fit: cover;
}
.delivery-week {
  padding: 50px 0 100px;
}
.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}
.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.delivery-card {
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
}
.delivery-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.delivery-tag {
  position: absolute;
  top: 16px;
  left: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border-radius: 30px;
  padding: 5px 10px;
}

.tag-health {
  color: #49494f;
  background-color: #d0fd89;
}
.tag-vegetables {
  color: #ffffff;
  background-color: #aebc41;
}
.tag-meat {
  color: #ffffff;
  background: #b86b78;
}
.tag-bird {
  color: #ffffff;
  background-color: #d68334;
}
.tag-fish {
  color: #ffffff;
  background-color: #cd6255;
}
.tag-children {
  color: #49494f;
  background-color: #fffdbf;
}
.tag-parents {
  color: #49494f;
  background-color: #f6fdc8;
}
.tag-holiday {
  color: #49494f;
  background-color: #fef7fe;
}

.section-gray {
  background-color: #f6f6f6;
  padding: 40px 0 60px;
}

.tabs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
}
.tabs-item:not(:last-child) {
  margin-right: 57px;
}
.tabs-link.active {
  color: #f37321;
}
.tabs-link {
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
}
.tabs-content {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}
.tabs-card {
  max-width: 270px;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}
.tabs-image {
  max-width: 100%;
}
.tabs-card-content {
  padding: 23px;
}
.tabs-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 13px;
}
.tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}
.tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs-price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  display: block;
  margin-bottom: 5px;
  color: #4b4b51;
}
.tabs-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}
.button-outline {
  padding: 18px 25px 15px 25px;
  border: 2px solid #f37321;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
  transition: all 0.3s ease-in;
}
.button-outline:hover {
  background: #ffa871;
  color: #fff;
}
.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}
.benefits {
  padding: 100px 0 200px;
}

.benefits-cards {
  display: flex;
  gap: 37px;
}
.benefit-card {
  max-width: 270px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
}
.benefit-card-svg {
  width: 60px;
  height: 60px;
  fill: #f37321;
}

.benefit-card-svg:hover {
  fill: white;
}
.benefit-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 13px;
  width: 200px;
}
.benefit-description {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494f;
  margin: 0;
}
.benefit-card:hover {
  background: #f37321;
  border: 1px solid #f37321;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  transition: all 0.5s;
}
.benefit-card:hover svg {
  fill: #fff;
}
.benefit-card:hover .benefit-card-title,
.benefit-card:hover .benefit-description {
  color: #fff;
}

.footer {
  background-color: #f6f6f6;
  padding: 40px 0;
}
.footer-wrapper {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 50px;
}
.footer-link {
  font-size: 16px;
  line-height: 23px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #000000;
  margin-right: 50px;
}
.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.social-link {
  margin-right: 20px;
}
.social-link:last-child {
  margin-right: 0;
}
@media (max-width: 1260px) {
  .container {
    max-width: 960px;
  }
  .search-form {
    margin-left: 40px;
    margin-right: 40px;
  }
  .tabs-card {
    flex: 50%;
    max-width: calc(50% - 30px);
  }
  .benefits-cards {
    flex-wrap: wrap;
    gap: 20px;
  }
  .benefit-card {
    max-width: 219px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
  .slide {
    padding: 70px;
  }
  .delivery-card {
    width: calc(50% - 30px);
  }
  .benefit-card {
    width: calc(50% - 30px);
    max-width: 100%;
  }
  .footer-logo {
    margin-right: 40px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .header {
    flex-wrap: wrap;
  }
  .search-form {
    order: 5;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .tabs {
    flex-wrap: wrap;
  }
  .tabs-item:not(:last-child) {
    margin-right: 57 px;
  }
  .tabs-item {
    margin-bottom: 20px;
  }
  .promo {
    flex-wrap: wrap;
  }
  .card {
    flex-basis: 100%;
  }
  .footer-wrapper {
    flex-wrap: wrap;
  }
  .benefits,
  .promo {
    padding: 80px 0;
  }
  .slide {
    background-position: top right;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }

  .tabs-card {
    max-width: 100%;
  }
  .delivery-card {
    width: 100%;
    max-width: 100%;
  }
  .benefit-card {
    width: 100%;
    max-width: 100%;
  }
  .footer-link {
    margin-right: 20px;
  }
  .social-links {
    margin-left: 0;
  }
}

@media (max-width: 460px) {
  .slide-title {
    font-size: 40px;
  }
  .slide {
    padding: 20px;
  }
  .footer-logo {
    margin-right: 0;
  }
  .social-links {
    margin-top: 20px;
  }
  .footer-wrapper {
    justify-content: center;
  }
  .benefits,
  .promo {
    padding: 50px 0;
  }
  .button-center {
    display: block;
    margin: auto;
    margin-top: 35px;
    width: 261px;
  }
}

@media (max-width: 380px) {
  .shopping-cart {
    margin-left: 8px;
  }
  .auth {
    margin-left: 10px;
  }
  .slide-title {
    font-size: 30px;
    line-height: 30px;
  }
  .slide-text {
    margin-bottom: 15px;
  }
  .slide {
    background-position: top right;
  }
  .section-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
